@import "./common";

* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: arial;
  font-size: 12px;
}

body {
  padding-bottom: 20px;
}

input {
  @include default-border;
  margin: 0;
  padding: 0;
  padding: 10px;
  box-shadow: none;
  outline: 0;
  background: white;
}

@include placeholder {
  -webkit-font-smoothing: antialiased;
}

a {
  cursor: pointer;
}

/* Layout */

.app-header {
  min-height: 60px;
}

.auth-links {
  position: absolute;
  top: 24px;
  right: 20px;
}

.add-link {
  position: absolute;
  top: 24px;
  left: 20px;
}

.logout-link {
  margin-left: 10px;
  border-bottom: 1px solid black;
}

/* Add link */

.add-link-form {
  margin-top: 14px;

  input {
    display: block;
    width: 400px;
    margin-left: 20px;
    margin-bottom: 60px;
  }

  &.is-invalid input { border-color: red;}
}

/* Overlay */ 

.overlay {
  display: table;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(255,255,255,.9);
}

.overlay-inner {
  display: table-cell;
  vertical-align: middle;
}

/* Loader */

.loader {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, .9);
  content: "Loading...";

  &.is-active {
    display: table;
  }
}

.loader-inner {
  display: table-cell;
  vertical-align: middle;
}

/* Link */

.link-list {
  border-top: 1px solid black;
}